/*******************************************************************************
********************************************************************************
	1.0 - Load Fonts
********************************************************************************
*******************************************************************************/

@font-face {
    font-family: "HelveticaNeueCyrThin";
    src: url('fonts/Helvetica/HelveticaNeueCyrThin.eot');
    src: url('fonts/Helvetica/HelveticaNeueCyrThin.eot') format('embedded-opentype'),
         url('fonts/Helvetica/HelveticaNeueCyrThin.woff2') format('woff2'),
         url('fonts/Helvetica/HelveticaNeueCyrThin.woff') format('woff'),
         url('fonts/Helvetica/HelveticaNeueCyrThin.ttf') format('truetype'),
         url('fonts/Helvetica/HelveticaNeueCyrThin.svg#HelveticaNeueCyrThin') format('svg');
}
@font-face {
    font-family: "HelveticaNeueCyrRoman";
    src: url('fonts/Helvetica/HelveticaNeueCyrRoman.eot');
    src: url('fonts/Helvetica/HelveticaNeueCyrRoman.eot') format('embedded-opentype'),
         url('fonts/Helvetica/HelveticaNeueCyrRoman.woff2') format('woff2'),
         url('fonts/Helvetica/HelveticaNeueCyrRoman.woff') format('woff'),
         url('fonts/Helvetica/HelveticaNeueCyrRoman.ttf') format('truetype'),
         url('fonts/Helvetica/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman') format('svg');
}
@font-face {
    font-family: "HelveticaNeueCyrMedium";
    src: url('fonts/Helvetica/HelveticaNeueCyrMedium.eot');
    src: url('fonts/Helvetica/HelveticaNeueCyrMedium.eot') format('embedded-opentype'),
         url('fonts/Helvetica/HelveticaNeueCyrMedium.woff2') format('woff2'),
         url('fonts/Helvetica/HelveticaNeueCyrMedium.woff') format('woff'),
         url('fonts/Helvetica/HelveticaNeueCyrMedium.ttf') format('truetype'),
         url('fonts/Helvetica/HelveticaNeueCyrMedium.svg#HelveticaNeueCyrMedium') format('svg');

}
@font-face {
    font-family: "HelveticaNeueCyr";
    src: url('fonts/Helvetica/HelveticaNeueCyrLight.eot');
    src: url('fonts/Helvetica/HelveticaNeueCyrLight.eot') format('embedded-opentype'),
         url('fonts/Helvetica/HelveticaNeueCyrLight.woff2') format('woff2'),
         url('fonts/Helvetica/HelveticaNeueCyrLight.woff') format('woff'),
         url('fonts/Helvetica/HelveticaNeueCyrLight.ttf') format('truetype'),
         url('fonts/Helvetica/HelveticaNeueCyrLight.svg#HelveticaNeueCyrLight') format('svg');
    font-weight: lighter;
}
@font-face {
    font-family: "HelveticaNeueCyr";
    src: url('fonts/Helvetica/HelveticaNeueCyrBold.eot');
    src: url('fonts/Helvetica/HelveticaNeueCyrBold.eot') format('embedded-opentype'),
         url('fonts/Helvetica/HelveticaNeueCyrBold.woff2') format('woff2'),
         url('fonts/Helvetica/HelveticaNeueCyrBold.woff') format('woff'),
         url('fonts/Helvetica/HelveticaNeueCyrBold.ttf') format('truetype'),
         url('fonts/Helvetica/HelveticaNeueCyrBold.svg#HelveticaNeueCyrBold') format('svg');
   font-weight: bold;      
}
@font-face {
    font-family: "HelveticaNeueCyrBlack";
    src: url('fonts/Helvetica/HelveticaNeueCyrBlack.eot');
    src: url('fonts/Helvetica/HelveticaNeueCyrBlack.eot') format('embedded-opentype'),
         url('fonts/Helvetica/HelveticaNeueCyrBlack.woff2') format('woff2'),
         url('fonts/Helvetica/HelveticaNeueCyrBlack.woff') format('woff'),
         url('fonts/Helvetica/HelveticaNeueCyrBlack.ttf') format('truetype'),
         url('fonts/Helvetica/HelveticaNeueCyrBlack.svg#HelveticaNeueCyrBlack') format('svg');
}
@font-face {
    font-family: "PFDINDISPLAYPROBOLD";
    src: url('fonts/PfDindisplay/PFDINDISPLAYPROBOLD.eot');
    src: url('fonts/PfDindisplay/PFDINDISPLAYPROBOLD.eot') format('embedded-opentype'),
         url('fonts/PfDindisplay/PFDINDISPLAYPROBOLD.woff2') format('woff2'),
         url('fonts/PfDindisplay/PFDINDISPLAYPROBOLD.woff') format('woff'),
         url('fonts/PfDindisplay/PFDINDISPLAYPROBOLD.ttf') format('truetype'),
         url('fonts/PfDindisplay/PFDINDISPLAYPROBOLD.svg#PFDINDISPLAYPROBOLD') format('svg');
}

@font-face {
    font-family: "MyriadProCond";
    src: url('fonts/MyriadPro/MyriadProBoldCond.eot');
    src: url('fonts/MyriadPro/MyriadProBoldCond.eot') format('embedded-opentype'),
         url('fonts/MyriadPro/MyriadProBoldCond.woff2') format('woff2'),
         url('fonts/MyriadPro/MyriadProBoldCond.woff') format('woff'),
         url('fonts/MyriadPro/MyriadProBoldCond.ttf') format('truetype'),
         url('fonts/MyriadPro/MyriadProBoldCond.svg#MyriadProBoldCond') format('svg');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "MyriadProCond";
    src: url('fonts/MyriadPro/MyriadProBoldCondIt.eot');
    src: url('fonts/MyriadPro/MyriadProBoldCondIt.eot') format('embedded-opentype'),
         url('fonts/MyriadPro/MyriadProBoldCondIt.woff2') format('woff2'),
         url('fonts/MyriadPro/MyriadProBoldCondIt.woff') format('woff'),
         url('fonts/MyriadPro/MyriadProBoldCondIt.ttf') format('truetype'),
         url('fonts/MyriadPro/MyriadProBoldCondIt.svg#MyriadProBoldCondIt') format('svg');
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: "MyriadProCond";
    src: url('fonts/MyriadPro/MyriadProCond.eot');
    src: url('fonts/MyriadPro/MyriadProCond.eot') format('embedded-opentype'),
         url('fonts/MyriadPro/MyriadProCond.woff2') format('woff2'),
         url('fonts/MyriadPro/MyriadProCond.woff') format('woff'),
         url('fonts/MyriadPro/MyriadProCond.ttf') format('truetype'),
         url('fonts/MyriadPro/MyriadProCond.svg#MyriadProCond') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadProCond";
    src: url('fonts/MyriadPro/MyriadProCondIt.eot');
    src: url('fonts/MyriadPro/MyriadProCondIt.eot') format('embedded-opentype'),
         url('fonts/MyriadPro/MyriadProCondIt.woff2') format('woff2'),
         url('fonts/MyriadPro/MyriadProCondIt.woff') format('woff'),
         url('fonts/MyriadPro/MyriadProCondIt.ttf') format('truetype'),
         url('fonts/MyriadPro/MyriadProCondIt.svg#MyriadProCondIt') format('svg');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadPro";
    src: url('fonts/MyriadPro/MyriadProBold.eot');
    src: url('fonts/MyriadPro/MyriadProBold.eot') format('embedded-opentype'),
         url('fonts/MyriadPro/MyriadProBold.woff2') format('woff2'),
         url('fonts/MyriadPro/MyriadProBold.woff') format('woff'),
         url('fonts/MyriadPro/MyriadProBold.ttf') format('truetype'),
         url('fonts/MyriadPro/MyriadProBold.svg#MyriadProBold') format('svg');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "MyriadPro";
    src: url('fonts/MyriadPro/MyriadProBoldIt.eot');
    src: url('fonts/MyriadPro/MyriadProBoldIt.eot') format('embedded-opentype'),
         url('fonts/MyriadPro/MyriadProBoldIt.woff2') format('woff2'),
         url('fonts/MyriadPro/MyriadProBoldIt.woff') format('woff'),
         url('fonts/MyriadPro/MyriadProBoldIt.ttf') format('truetype'),
         url('fonts/MyriadPro/MyriadProBoldIt.svg#MyriadProBoldIt') format('svg');
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: "MyriadPro";
    src: url('fonts/MyriadPro/MyriadProIt.eot');
    src: url('fonts/MyriadPro/MyriadProIt.eot') format('embedded-opentype'),
         url('fonts/MyriadPro/MyriadProIt.woff2') format('woff2'),
         url('fonts/MyriadPro/MyriadProIt.woff') format('woff'),
         url('fonts/MyriadPro/MyriadProIt.ttf') format('truetype'),
         url('fonts/MyriadPro/MyriadProIt.svg#MyriadProIt') format('svg');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadPro";
    src: url('fonts/MyriadPro/MyriadProRegular.eot');
    src: url('fonts/MyriadPro/MyriadProRegular.eot') format('embedded-opentype'),
         url('fonts/MyriadPro/MyriadProRegular.woff2') format('woff2'),
         url('fonts/MyriadPro/MyriadProRegular.woff') format('woff'),
         url('fonts/MyriadPro/MyriadProRegular.ttf') format('truetype'),
         url('fonts/MyriadPro/MyriadProRegular.svg#MyriadProRegular') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadProSemibold";
    src: url('fonts/MyriadPro/MyriadProSemibold.eot');
    src: url('fonts/MyriadPro/MyriadProSemibold.eot') format('embedded-opentype'),
         url('fonts/MyriadPro/MyriadProSemibold.woff2') format('woff2'),
         url('fonts/MyriadPro/MyriadProSemibold.woff') format('woff'),
         url('fonts/MyriadPro/MyriadProSemibold.ttf') format('truetype'),
         url('fonts/MyriadPro/MyriadProSemibold.svg#MyriadProSemibold') format('svg');
    font-style: normal;
}
@font-face {
    font-family: "MyriadProSemibold";
    src: url('fonts/MyriadPro/MyriadProSemiboldIt.eot');
    src: url('fonts/MyriadPro/MyriadProSemiboldIt.eot') format('embedded-opentype'),
         url('fonts/MyriadPro/MyriadProSemiboldIt.woff2') format('woff2'),
         url('fonts/MyriadPro/MyriadProSemiboldIt.woff') format('woff'),
         url('fonts/MyriadPro/MyriadProSemiboldIt.ttf') format('truetype'),
         url('fonts/MyriadPro/MyriadProSemiboldIt.svg#MyriadProSemiboldIt') format('svg');
    font-style: italic;
}
 