/*   

Theme Name: Business Russian IC
Description: 
Author: L.Kotane & E.Dziuba
Author URI: https://plus.google.com/u/0/110295925295050770002/posts
Version: 0.1
Text Domain: dms_theme


*/
.alignleft {
 float:left;
}
.alignright {
 float:right;
}
.clearfix {
  clear:both;
}
.post-info .post-category-lists {
    margin-bottom: 8px !important;
    height: 37px;
    overflow: hidden;
}
.post-info .post-category-lists .terms {
    display: block !important;
}
.post-info .post-excerpt {
    height: 34px !important;
}
.category-content .post-info {
    padding-bottom: 24px;
}

.subscribe-form-popup .getresponse-form .getresponse-reCAPTCHA {
 padding-top: 10px;
padding-bottom: 10px;
}
.subscribe-form-popup .getresponse-form .getresponse-form-report{
 padding-top: 10px;
padding-bottom: 6px;
}
.form-popup-type-1 .subscribe-form {
   
    padding: 40px 20px !important;
}
.form-popup-type-1.subscribe-form-popup .theme-page-h2 {
    margin-bottom: 30px !important;
}